body {
    background-color: #f0e0d0;
    font-size: 24pt;
    font-family: Lato Light;
}

h1 {
    margin-bottom: 5pt;
    font-family: Lato Semibold;
    font-weight: normal;
    font-size: 40pt;
    text-align: center
}

h2 {
    font-size: 28pt;
    font-family: Lato Semibold;
    font-weight: normal;
    text-align: center;
    padding-bottom: 2%
}

h2.spacer4 {
    padding-bottom: 4%
}

h2.spacer6 {
    padding-bottom: 6%
}

h2.spacer8 {
    padding-bottom: 8%
}

h2.spacer10 {
    padding-bottom: 10%
}

h2.spacer16 {
    padding-bottom: 16%
}

.subtitle {
    margin-top: 0;
    font-family: Lato Medium;
    font-weight: normal;
    font-size: 24pt;
    text-align: center
}

.author {
    margin-top: 10pt;
    text-align: center
}

.slide {
    padding: 20pt 44pt 20pt 44pt;
    break-after: page;
}

.footer
{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0)
}

tt {
    padding: 2pt;
    font-family: Noto Mono;
    font-size: 0.9em
}

a {
    color: #2020ff;
    text-decoration-thickness: 1pt
}

pre {
    font-size: 0.8em;
    background-color: white;
    margin: 0 20pt 0 20pt;
    padding: 5pt 10pt 5pt 10pt;
    border: 1pt solid #c0c0c0
}

li {
    margin-bottom: 4pt
}
ul {
    margin-top: 4pt
}

@media print {
    @page {
        size: a4 landscape;
        margin: 0pt
    }

    .title-block {
        position: absolute;
        width: 100%;
        top: 45%; left: 50%; transform: translate(-50%, -50%)
    }
}

@media screen {
    .slide {
        border-top: 1px solid #808080;
        height: 100%
    }
}
